<div class="project-single">
    <ul>
    {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
    {{ $url := replace .Permalink .Site.BaseURL "" }}
        {{ if hasPrefix $url "projects/" }}
            <li>
            <a href='{{ .Params.link }}'>
                <img src="https://img.wennermedia.com/article-leads-horizontal/rs-selena-gomez-7987e3c0-92b0-48c0-a30c-d04e36590ba5.jpg">
                <div>
                <h1>{{ .Title }}</h1>
                {{ if .Site.Params.enableSummary }}
                    {{ if .Site.Params.useDescriptionReplaceSummary }}
                        <p>{{ .Description | truncate 60 }}</p>
                    {{ else }}
                        <p>{{ .Summary | truncate 60 }}</p>
                    {{ end }}
                {{ end }}
                </div>
            </a>
            </li>
        {{ end }}
    {{ end }}
    </ul>
</div>
